html, body{
  overflow-x: hidden;
}
p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color:#999;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:focus { 
      outline: none; 
}

/*Preloader*/
html.preloader-running, body.preloader-running{ 
  overflow: hidden; 
}
html.preloader-running .sticky-sidebar{
  display: block;
}
body.preloader-running{
    overflow: hidden;
}
body.preloader-running #ajax-content{
  opacity: 0;
}

div#preloader { 
  background: none repeat scroll 0 0 white; 
  height: 100%; 
  left: 240px; 
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 99999; 
}

#status { 
  background-image: url(../images/loader.gif); 
}